@page "/form"
<h3>Form </h3>

<FieldComponent label="Username">
    <Control>
        <input type="text" class="form-control" placeholder="...">
    </Control>
</FieldComponent>

<FieldComponent label="Email">
    <Control>
        <input type="email" class="form-control" placeholder="...">
    </Control>
</FieldComponent>

<FieldComponent label="Password">
    <Control>
        <input type="password" class="form-control" placeholder="...">
    </Control>
</FieldComponent>

@code {

}
